<link rel="stylesheet" href="/assets/web/assets/mobirise-icons/mobirise-icons.css">
<link rel="stylesheet" href="/assets/tether/tether.min.css">
<link rel="stylesheet" href="/assets/theme/css/style.css">
<link rel="stylesheet" href="/assets/mobirise/css/mbr-additional.css" type="text/css">
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-custom">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <a class="navbar-brand" href="#">...</a>
    <!-- <a class="navbar-brand" href="#"><img src="/assets/img/smartDex_logo.png" class="" /></a> -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link nav_item" routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav_item" routerLink="/market/WETH/ZRX" routerLinkActive="active">Exchange</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav_item" routerLink="/faq" routerLinkActive="active">FAQ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav_item" routerLink="/about" routerLinkActive="active">About Us</a>
            </li>
        </ul>
    </div>
</nav>
<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0">F A Q</h1>
        </div>
    </div>
</header>
<section class="landing_block">
    <div class="container text-white">
        <div class="row">
            <div class="col-lg-12 col-12 col-sm-12 order-lg-1">
                <div class="p-5 text-center">
                    <h3 class="display-4">How much fee we take from the exchange?</h3>
                    <div class="p-5" style="line-height:1.5;">
                       <h4>We take 0.5% trading fee when the order is filled by a maker. <br>
                        And There is no any Deposit, Withdraw fee.</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="landing_block">
    <div class="container text-white">
        <div class="row align-items-center">
            <div class="col-lg-12 col-12 col-sm-12 order-lg-1">
                <div class="p-5 text-center">
                    <h3 class="display-4">What is the Off-chain order, On-chain settlement</h3>
                    <div class="p-5" style="line-height:1.5;">
                        <h4>In SmartDex Exchange, orders are transported off-chain, massively reducing gas costs and eliminating blockchain bloat.<br>
                             SmartDEX help broadcast orders and collect a fee each time they facilitate a trade</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="py-5 bg-black">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-5 col-sm-12">
            <h3 class="m-0 text-left text-white">&copy; SmartDEX.io</h3>
          </div>
          <div class="col-lg-7 col-sm-12">
              <div class="social_links text-right">
                  <a href="https://www.facebook.com/sharer/sharer.php" class="btn btn-blue" target="_blank"><i class="fa fa-facebook-official" style="font-size:36px"></i></a>

                  <a href="//twitter.com/share" class="btn btn-blue" target="_blank"><i class="fa fa-twitter-square" style="font-size:36px"></i></a>

                  <a href="//www.tumblr.com/share/photo"  class="btn btn-blue" target="_blank"><i class="fa fa-tumblr-square" style="font-size:36px"></i></a>

                  <a id="share-on-pinterest" class="btn btn-blue" href="//www.pinterest.com/pin/create/button/" target="_blank"><i class="fa fa-pinterest-p" style="font-size:36px"></i></a>
              </div>
          </div>
      </div>
  </div>
  <!-- /.container -->
</footer>
<section class="engine"><a href="https://mobirise.ws/d">best web page software</a></section>
<script src="/assets/web/assets/jquery/jquery.min.js"></script>
<script src="/assets/popper/popper.min.js"></script>
<script src="/assets/tether/tether.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<!-- <script src="/assets/smoothscroll/smooth-scroll.js"></script> -->
<script src="/assets/parallax/jarallax.min.js"></script>
<script src="/assets/theme/js/script.js"></script>
