<!-- <div mat-dialog-title>
    <img src="/assets/img/smartDex_logo.png">
</div> -->
<div class="text-center" mat-dialog-content>
  <div class="container">
      <div class="row">
        <div class="col-12 col-md-12">
          <h3>Couldn't find Web3 Provider</h3>
          <div class="description">
            <p>Your Browser doesn't web3 provider or Your account is locked,</p>
            <p>
                Please make sure that your browser supports web3 provider or unlock your account for trading here.
          </div>

        </div>
      </div>
    </div>
</div>
