<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-custom">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <!-- <a class="navbar-brand" href="#"><img src="/assets/img/smartDex_logo.png" class="" /></a> -->
    <a class="navbar-brand" href="#">...</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link nav_item" routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav_item" routerLink="/market/WETH/ZRX" routerLinkActive="active">Exchange</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav_item" routerLink="/faq" routerLinkActive="active">FAQ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav_item" routerLink="/about" routerLinkActive="active">About Us</a>
            </li>
        </ul>
    </div>
</nav>
<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0">Decentralized</h1>
            <p></p>
            <h3 class="masthead-heading mb-0">Cryptocurrency Exchange Platform</h3>
            <div class="row" style="margin-top: 50px;">
              <div class="col-12 col-md-4">
              </div>
              <div class="col-12 col-md-4">
                <a class="btn btn-block btn-lg btn-primary"  routerLink="/market/WETH/EVOT" routerLinkActive="active">Get Started</a>
              </div>
              <div class="col-12 col-md-4">
              </div>
            </div>
        </div>
    </div>
</header>
<section class="landing_block" id="exchange_ad">
    <div class="text-white">
        <div class="row">
            <div class="col-md-5 col-12">
                <div class="landing_block_img">
                    <img class="img-fluid rounded" src="/assets/img/exchange.png" alt="">
                </div>
            </div>
            <div class="col-md-7 col-12 text-left">
                <div class="desc_body text-left">
                    <h4>Decentralized Exchange</h4>
                    <p>
                      Built on Ethereum's distributed network with no centralized point of failure<br>
                      No Signup<br>
                      No Deposit<br>
                      All ERC20 Tokens Compatible<br>
                      Off-chain OrderBook<br>
                      Wallet-to-Wallet Exchange
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="landing_block" id="wallet_ad">
    <div class="text-white" id="Contact">
        <div class="row">
            <div class="col-md-7 col-12 text-left">
                <div class="desc_body">
                    <h4>ERC20 Token Wallet</h4>
                    <p>
                      All of your ERC20 Tokens management in one Interface<br>
                      Convert Ether into Wrap Ether<br>
                      Convert Wrap Ether into Ether<br>
                      Send Tokens to any other address<br>
                      Set/ Unset your ERC20 Token Allowance
                    </p>
                </div>
            </div>
            <div class="col-lg-5 col-sm-12">
              <div class="landing_block_img">
                  <img class="img-fluid rounded" src="/assets/img/erc20_token.png" alt="">
              </div>
          </div>
        </div>
    </div>
</section>

<section class="landing_block" id="converter_ad">
    <div class="text-white">
        <div class="row">
            <div class="col-lg-5 col-12 col-md-5">
                <div class="landing_block_img">
                    <img class="img-fluid rounded" src="/assets/img/market.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-7 col-12 col-md-7">
                <div class="desc_body">
                    <h4>PREDICTION MARKETS</h4>
                    <p>
                        Decentralized prediction market platforms generate sets of tokens that represent a financial stake in the outcomes of real-world events.<br>
                        SmartDEX allows these tokens to be instantly tradable.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


